@using HRApplicationMVC.Services
@using HRApplicationMVC.Models

<ul class="navbar-nav">
@if (LoginUserHelperManager.GetCurrentUser().Result != null)
{
    <li class="nav-item">
        <p  class="nav-link text-dark" title="Manage">Hello @LoginUserHelperManager.GetCurrentUser().Result.Username</p>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="" asp-controller="User" asp-action="LogOut">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogIn">Login</a>
    </li>
}
</ul>
